<!DOCTYPE html>
<html>
  <head>
    <title>HK Rules</title>
  </head>
  <body>

# Hello World

    <form method="post" action="/hello">

        <input name="message"></input>
        <input class="button" type="submit" value="Update Greeting">

    </form>
  </body>
</html>